@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@plugin "./plugin";
@source "../node_modules/@barrelrolla/react-components-library/";

@custom-variant dark (&:where(.dark, .dark *));

* {
  scrollbar-width: thin;
}

.height-hero {
  @apply h-[400px] md:h-[600px] xl:h-[800px]
}

:root {
  --color-main: #dad6cf;
  --color-main-content: #4c5c5a;
  --color-primary: #4c5c5a;
  --color-primary-content: #dad6cf;
  --default-font-weight: 400;
  --radius-navigation: 0;
  --border-navigation: 1px;
  scrollbar-gutter: stable;
}

.dark {
  --color-main: #4c5c5a;
  --color-main-content: #dad6cf;
  --color-primary: #dad6cf;
  --color-primary-content: #4c5c5a;
}

@theme {
  --font-sans: "Rubik",
    sans-serif;
  --font-serif: "Cinzel",
    serif;
  --font-mono: "Space Mono",
    monospace;
  --color-secondary-100: #f0eeeb;
  --color-secondary-200: #dad6cf;
  --color-secondary-300: #c4bdb3;
  --color-secondary-400: #aea497;
  --color-secondary-500: #988c7b;
  --color-secondary-600: #7e7262;
  --color-secondary-700: #62584c;
  --color-secondary-800: #463e36;
  --color-secondary-900: #2a2420;
  --color-primary-50: #edf0f0;
  --color-primary-100: #d1d9d8;
  --color-primary-200: #b5c2c0;
  --color-primary-300: #99aaa8;
  --color-primary-400: #7d9290;
  --color-primary-500: #647876;
  --color-primary-600: #4c5c5a;
  --color-primary-700: #35403e;
  --color-primary-800: #293230;
  --color-primary-900: #1e2423;
}

.colored {
  @apply bg-secondary-200 text-primary-600 dark:bg-primary-600 dark:text-secondary-200
}

.colored-nobg {
  @apply text-primary-600 dark:text-secondary-200
}

.reversed-colors {
  @apply bg-primary-600 text-secondary-200 dark:bg-secondary-200 dark:text-primary-600
}

.reversed-colors-nobg {
  @apply text-secondary-200 dark:text-primary-600
}